#a{
    border: 2px solid green;
    position: relative;

    height:200px;
    width:800px;
    margin-left: left 10%;;
}/**************/
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.bound{
    border:2px solid green;
}

#space{
    height: 0px;
    width: 100%;
    border :2px solid green;
}

a:link{
    color:rgba(100,100,100,0.5);
    text-decoration: none;
}
a:active{
    color: rgba(20,20,20,1);
    text-decoration: none;
}
#navi-body{
    background-color: white;
    display:flex;
    position:fixed;
    z-index:3;
    margin-top: 0;
    align-items: center;
    justify-content:center;
    height: 78px;
    width:100%;
   /* padding-left : 16%;
    padding-right : 16%;*/
}

#navibar{
    height: 96%;
    width:70%;
    display:grid;
    align-items: center;
    grid-template-columns: 5% 15% 80%;
}
#navi{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: "arial";
    font-size: small;
}
#navi-mobile{
    display:none;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 40px;
}
/* banner ************/
#banner{
    background: url(photo/banner.png);
    margin-top :90px;
    background-repeat: repeat-x;
    border: 2px solid green;
    height:200px;
    width:100%;
    margin-left:0;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
}
#yellow-box-1{
    background-color: #F8D16C;
    height: 40px;
    width: 240px;
    position:absolute;
    margin-left:2%;
    top:80px;
    z-index:1;
}
#Develop{
    height: 55px;
    width: 300px;
    position:absolute;
   /* left:35%;*/
    top:85px;
    z-index:2;
    overflow: hidden;
}
/**************first year ***********/
#first{
    border: 2px solid green;
    height: 2500px;
    width: 90%;
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 2em 10%;
    align-items: center;
}
#yellow-box-2{
    position: absolute;
    left:18%;
    top:390px;;
    background-color: #F8D16C;
    height: 24px;
    width: 250px;
}
.first-name {
    position: absolute;
    left:14%;
    top:390px;
    height: 34px;
    width: 400px;
}
#inside{
    background-color: rgb(230,230,230);

    width:100%;
    height:100%;
    /*padding: 3% 7%;*/ 
    line-height: 1.75rem;
    font-family: Arial;
    color: rgb(70,70,70)
}
.b{
    border: 2px solid green;
    position:relative;
    height: 300px;
    width:80%;
    overflow:auto;
    padding-top: 0px;
    padding-left: 34px;
}
#b1{
    font-family: Arial;
    color: rgb(70,70,70);
    line-height: 1.75rem;
    padding-bottom:40px;
    padding-right: 34px;
    margin-top: 430px;
    margin-left: 0%;
    display: grid;
    grid-template-rows: 100% 0%;
}
.ptag{
    padding-left: 3% ;
    background-color: rgb(230,230,230);
}
#b2{
    font-family: Arial;
    color: rgb(70,70,70);
    line-height: 1.75rem;
    margin-top: 20px;
    margin-left: 0%;
    padding-top: 0px;
    padding-left: 40px;
    padding-bottom: 20px;
    height: 500px;
    padding-right: 34px;
}
.grid{
    
    display:grid;
    width:100%;
    margin-top: 0;
    margin-left: 0;
    grid-template-columns: 47% 6% 47%;
    height: 100%;
    
}
#A, #B, #C{
    background-color: rgb(230,230,230);
    padding-bottom: 10px;;
}
#C{
    padding-left: 7%;
}
#B{
    display: grid;
    grid-template-rows: 40% 20% 40%;
    justify-content: center;
}
.line{
    background-color: rgb(150,150,150);
    width:5%;
    height:95px ;
}
#or{
    display:flex;
    align-items: center;
}
#inside-2{
    background-color: rgb(230,230,230);
    display:grid;
    width:100%;
    margin-top: 0;
    margin-left: 0;
    grid-template-rows: 10% 90%;
    height: 100%;
}
/* second*****************/

#second{
    position:relative;
    height: 500px;
    width: 90% ;
    display: grid;

}
.second-name{
    position: absolute;
    left:1em;
    top:7%;
    height: 34px;
    width: 400px;
}
#yellow-box-3{
    position: absolute;
    left:4%;
    top:7%;
    background-color: #F8D16C;
    height: 24px;
    width: 300px;
}


#b3{
    height: 320px;
    font-family: Arial;
    color: rgb(70,70,70);
    line-height: 1.75rem;
    padding-bottom:60px;
    padding-right: 34px;
    margin-top: 130px;
    margin-left: 0%;
    display: grid;
    grid-template-rows: 100% 0%;
    margin-left:3%;
    width:80%;
}
.ptag-2{
    padding: 3% 10%;
    background-color: rgb(230,230,230);
}
/* footer */
.footer{
    background-color: #293B52;

    width:100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}
#foot{
    margin-left: 1%;
    
}
#foot2{
    font-family: Arial;
    position:relative;
    display:flex;
    justify-content: flex-end;
    width: 70%;
}

/*****media quer ****************/
@media only screen and (max-width: 800px){

    .grid{
        display:grid;
        width:100%;
        margin-top: 0;
        margin-left: 0;
        grid-template-columns: 100%;
        grid-template-rows: 53% 3% 46%;
        height: 100%;
    }
    #B{
        display: grid;
        grid-template-columns: 40% 20% 40%;
        justify-content: center;
    }
    .line{
        margin-top: 5px;
        background-color: rgb(150,150,150);
        height:4px;
        width:80%;
    }

}
